nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    color: white;
  }
  nav.main{
    transition: margin-left 0.5s;
    padding: 175px;
    color: white;
  }
  .sidenav.open{
    width: 200px;
  }
  body.nav-open {
    background-color: rgba(0,0,0,0.4);
    color: white;
  }
  .closebtn {
    color: white; 
    size: 1rem;
  }
  button {
  border-radius: 5px;
  border-color: var(--color);
  background-image: linear-gradient(to right, rgb(171, 139, 230), rgb(84, 24, 154));
  color: var(--gray);
  }