/* CSS Custom Properties */
:root {
  --color: #3f0f6e;
  --lightpurple: #E6E6FA; 
  --gray: #F5F5F5;
  --purple2: #8676bb;
  --gray2: #BEBFC5;
}


body {
  background: #8676bb;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: 100vh;
  width: auto;
}


a {
  color: var(--gray);
  font-size: 1.25rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

a:hover {
  color: var(--color);

}

.form-container {
  padding: 3vmin;
  background-image: url('https://cdn.pixabay.com/photo/2016/11/22/19/15/hand-1850120_1280.jpg');
  border: .1vmin solid var(--color);
  background-size: cover;
  background-position: center;
  border-radius: 1vmin;
  width: 85vw;
}

form {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  width: 90%;
  gap: 1.25vmin;
  color: var(--lightpurple);
}

button {
  border-radius: 5px;
  border-color: var(--color);
  background-image: linear-gradient(to right, rgb(171, 139, 230), rgb(84, 24, 154));
  color: var(--gray);
}

button:hover {
  color: var(--color);
}


