/* CSS Custom Properties */
:root {
  --background: rgb(225, 213, 255);
  --background: linear-gradient(0deg, rgba(225, 213, 255, 1) 0%, rgba(134, 118, 187, 0.9122242647058824) 50%, rgba(63, 15, 110, 0.9626444327731093) 100%);
}


body {
  color: #3f0f6e;
}


a {
  color: black;
  font-size: 1.5rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

a:hover {
  color: #3f0f6e;

}