body {
    background: #8676bb;
    background-size: 100%;
    height: 100%vh;
}


a {
    color: black;
    font-size: 1.25rem;
    font-family: fantasy;
}

a:hover {
    color: cadetblue;

}

footer {
    position: center;

}